<%- include('partials/header') %>



<div class="jumbotron centered">
  <h1>❤️KiiT Confession Hub❤️</h1>
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Secrets</h1>
    <p class="lead">Don't keep your secrets, share them anonymously!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>

  <br><br>

  <div>
    <h3>Connect With Developer</h3>
    <a target="_blank" href="https://www.facebook.com/soham.samnata"> <img src="image/facebook.png" alt="" width="50" height="50"></a>&nbsp;&nbsp; &nbsp;&nbsp;
    <a target="_blank" href="https://twitter.com/sohamtwt"> <img src="image/twitter.png" alt="" width="50" height="50"></a>&nbsp;&nbsp; &nbsp;&nbsp;
    <a target="_blank" href="https://github.com/soham-samanta"> <img src="image/github.png" alt="" width="50" height="50"></a>&nbsp;&nbsp; &nbsp;&nbsp;
    <a target="_blank" href="https://www.instagram.com/sohamsamanta2/"> <img src="image/instagram.png" alt="" width="50" height="50"></a>&nbsp;&nbsp; &nbsp;&nbsp;
    <a target="_blank" href="https://www.linkedin.com/in/soham-samanta-5732b41b5/"> <img src="image/linkedin.png" alt="" width="50" height="50"></a>
  </div>

</div>



<%- include('partials/footer') %>
